<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="httptest">

<!--    <test name="httptest" preserve-order="true" verbose="3">-->
<!--        <packages>-->
<!--            <package name="com.test.cases.*" />-->
<!--        </packages>-->
<!--    </test>-->

    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="com.test.cases.Login"> </class>
            <class name="com.test.cases.DataSecurity"> </class>
            <class name="com.test.cases.SystemManager"> </class>


        </classes>
    </test>

    <listeners>
        <listener class-name="com.test.utils.ExtentTestNGIReporterListenerTomcat"/>
        <listener class-name="com.test.utils.testng.OverrideIAnnotationTransformer"></listener>
    </listeners>
</suite>